@font-face {
  font-family: "PTSans";
  src:
   url(fonts\PTSans-Regular.ttf) format("ttf");
  font-weight: 400;
  font-style: normal;
}
@media (min-width: 320px) {
  .container {
    margin: 0 auto;
    width: 280px;
  }
}
@media (min-width: 768px) {
  .container {
    margin: 0 auto;
    width: 740px;
  }
}
@media (min-width: 1280px) {
  .container {
    margin: 0 auto;
    width: 1170px;
  }
}
body {

}
@media (min-width: 320px) {
  .nav-list {
    margin: 0 auto;
    width: 280px;
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .nav-list {
    margin: 0 auto;
    width: 740px;
    flex-direction: row;
  }
}
@media (min-width: 1280px) {
  .nav-list {
    margin: 0 auto;
    width: 1170px;
    flex-direction: row;
  }
}
.nav-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  margin: 0;
  padding: 0;
  text-align: center;
}
.nav-list__item {
  font-family: 'PTSans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  width: 239px;
  height: 56px;
}
.nav-list__image {
  z-index: 9999;
  position: relative;
}
.main-description__image {
  width: 100%;
  z-index: 8888;
  position: relative;
}
.intro {
  display: grid;
  justify-content: center;
  margin: 30px;
}
.intro__text {
  font-family: 'PTSans', sans-serif;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}
.intro__text:nth-child(1) {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}
.intro__text:nth-child(2) {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}
@media (min-width: 320px) {
  .about {
    margin: 0 auto;
    width: 280px;
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .about {
    margin: 0 auto;
    width: 740px;
    flex-direction: row;
  }
}
@media (min-width: 1280px) {
  .about {
    margin: 0 auto;
    width: 1170px;
    flex-direction: row;
  }
}
.about {
  display: flex;
}

.about-item {
  background-color: #81b3d2;
  padding: 50px;
  text-transform: uppercase;
}
.about-item__text {
  font-family: 'PTSans', sans-serif;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}
.about-item__text:first-child {
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}
.about__img {
  width: 100%;
}
.info {
  padding: 0;
  margin: 0;
}
@media (min-width: 320px) {
  .info-list {
    margin: 0 auto;
    width: 280px;
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .info-list {
    margin: 0 auto;
    width: 740px;
    flex-direction: row;
  }
}
@media (min-width: 1280px) {
  .info-list {
    margin: 0 auto;
    width: 1170px;
    flex-direction: row;
  }
}
.info-list {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 0;
}
.info-list__item {
  padding: 0;
  margin: 60px;
  text-align: center;
  text-transform: uppercase;
}
.info__text {
  font-family: 'PTSans', sans-serif;
  text-transform: uppercase;
}
.info__img {
  width: 100px;
  height: 100px;
}
.info__img:first-child {
  width: 75px;
  height: 72px;
}
.about-bzz {
  background-color: #81b3d2;
  padding: 50px 70px;
  text-transform: uppercase;
}
.about-bzz__text {
  font-family: 'PTSans', sans-serif;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}
.about-bzz__text:first-child {
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}
.about-bzz__img {
  width: 100%;
}
@media (min-width: 320px) {
  .about-tabl {
    margin: 0 auto;
    width: 280px;
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .about-tabl {
    margin: 0 auto;
    width: 740px;
    flex-direction: row;
  }
}
@media (min-width: 1280px) {
  .about-tabl {
    margin: 0 auto;
    width: 1170px;
    flex-direction: row;
  }
}
.about-tabl {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.about-tabl__item {
  padding: 40px;
  text-align: center;
  background-color: #eeeeee;
}
.about-tabl__text__low {
  font-family: 'PTSans', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}
.about-tabl__text {
  font-family: 'PTSans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.hotel {
  text-align: center;
  text-transform: uppercase;
}
.hotel__text {
  font-family: 'PTSans', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  padding-bottom: 20px;
}
.hotel__text:first-child {
  font-family: "PT Sans";
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 26px;
  text-align: center;
}
.hotel__button {
  text-transform: uppercase;
  color: #ffffff;
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
  border: 0px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 66px;
}
.hotel__img {
  width: 100%;
}
.footer {
  display: flex;
  flex-direction: row;
}
.hashtag {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}
.hashtag__text {
  font-family: 'PTSans', sans-serif;
}
.social__img {
  background-color: #81b3d2;
  padding: 10px;
  width: 10px;
  height: 10px;
}
@media (min-width: 320px) {
  .container-footer {
    margin: 0 auto;
    width: 280px;
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .container-footer  {
    margin: 0 auto;
    width: 740px;
    display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .container-footer  {
    margin: 0 auto;
    width: 1170px;
    display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  }
}
.footer {
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  margin-left: 104px;
  margin-right: 143px;
}
.academy {
  display: flex;
}
.academy__img {
  width: 26.9px;
  height: 34.1px;
  margin: 15px;
}
.academy__text {
  font-family: 'PTSans', sans-serif;
}
