.nav {

}
.nav-list {
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    margin: 0;
}
.nav-list__item {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;    
}
.intro {
    display: grid;
    justify-content: center;
}
.intro__text {
    font-family: 'PT Sans';
    text-transform: uppercase;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
}
.intro__text:nth-child(1) {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
}
.intro__text:nth-child(2) {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #333333;
}
.about {
    display: flex;
    background-color: #81B3D2;
    text-align: center;
}
.about__text:first-child {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
}
.about__text {
    font-weight: 400;
    font-size: 21px;
    line-height: 10px;
    text-align: center;  
    color: #ffffff;
}
.info-list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}
